.history-main-header {
    height: 40vh;
    background-image: url("../assets/mural.jpg");
    background-position: 0 -150px;
}

.history-container {
    margin: 75px 15%;
}

.history-intro-text {
    font-size: 18px;
}

img {
    float: right;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.poem-title {
    font-size: 40px;
}

.poem {
    font-size: 20px;
}